<a href="https://colab.research.google.com/github/qTronor/BigData_lessons/blob/main/BigData_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
import pandas as pd

# Задание 2

Написать программу, которая вычисляет площадь фигуры,
параметры которой подаются на вход. Фигуры, которые подаются на вход:
треугольник, прямоугольник, круг. Результатом работы является словарь, где
ключ – это название фигуры, а значение – это площадь

In [ ]:
def calculate_triangle_area(base, height):
    return 0.5 * base * height

def calculate_rectangle_area(length, width):
    return length * width

def calculate_circle_area(radius):
    return math.pi * radius ** 2

def main():
    shapes = {}
    while True:
        shape_type = input("Введите тип фигуры (треугольник, прямоугольник, круг) или 'выход' для завершения: ").lower()
        if shape_type == 'выход':
            break
        if shape_type not in ['треугольник', 'прямоугольник', 'круг']:
            print("Неверный тип фигуры. Попробуйте еще раз.")
            continue
        if shape_type == 'треугольник':
            base = float(input("Введите длину основания треугольника: "))
            height = float(input("Введите высоту треугольника: "))
            area = calculate_triangle_area(base, height)
        elif shape_type == 'прямоугольник':
            length = float(input("Введите длину прямоугольника: "))
            width = float(input("Введите ширину прямоугольника: "))
            area = calculate_rectangle_area(length, width)
        else:
            radius = float(input("Введите радиус круга: "))
            area = calculate_circle_area(radius)

        shapes[shape_type] = area
        print(f"Площадь {shape_type} равна {area}")
    print("Результат:")
    for shape, area in shapes.items():
        print(f"{shape.capitalize()}: {area}")

if __name__ == "__main__":
    main()

Введите тип фигуры (треугольник, прямоугольник, круг) или 'выход' для завершения: прямоугольник
Введите длину прямоугольника: 5
Введите ширину прямоугольника: 2
Площадь прямоугольник равна 10.0
Введите тип фигуры (треугольник, прямоугольник, круг) или 'выход' для завершения: круг
Введите радиус круга: 1
Площадь круг равна 3.141592653589793
Введите тип фигуры (треугольник, прямоугольник, круг) или 'выход' для завершения: треугольник
Введите длину основания треугольника: 3
Введите высоту треугольника: 2
Площадь треугольник равна 3.0
Введите тип фигуры (треугольник, прямоугольник, круг) или 'выход' для завершения: выход
Результат:
Прямоугольник: 10.0
Круг: 3.141592653589793
Треугольник: 3.0

In [ ]:
a = int(input())
b = int(input())
r = int(input())
dict = {"triangle": a*b*0.5, "square": a*b, "circle": math.pi*r*r}

3
2
1

In [ ]:
print(dict)

{'triangle': 3.0, 'square': 6, 'circle': 3.141592653589793}

# Задание 3

Написать программу, которая на вход получает два числа и
операцию, которую к ним нужно применить. Должны быть реализованы
следующие операции: +, -, /, //, abs – модуль, pow или ** – возведение в
степень

In [ ]:
a = int(input())
b = int(input())
op = input()

2
3
**

In [ ]:
if op == "+":
  print(a+b)
elif op == "-":
  print(a-b)
elif op == "/":
  print(a/b)
elif op == "//":
  print(a//b)
elif op == "abs":
  print(abs(a), abs(b))
elif op == "**" or op == "pow":
  print(a**b)

8

# Задание 4

Напишите программу, которая считывает с консоли числа (по
одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и
после этого выводит сумму квадратов всех считанных чисел.

In [ ]:
list = []
list.append(int(input()))

5

In [ ]:
while(sum(list) != 0):
  list.append(int(input()))

for i in list:
  print(i**2)

-2
-3
25
4
9

# Задание 5

Напишите программу, которая выводит последовательность
чисел, длинною N, где каждое число повторяется столько раз, чему оно равно.
На вход программе передаётся неотрицательное целое число N. Например,
если N = 7, то программа должна вывести 1 2 2 3 3 3 4. Вывод элементов списка
через пробел – print(*list).

In [ ]:
n = int(input())
t = []
for i in range(n+1):
  c = 0
  while c < i+1:
    t.append(i+1)
    c+=1
    if n == len(t):
      for j in t:
        print(j, end=" ")
      break

7
1 2 2 3 3 3 4

# Задание 6

А = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
В = [‘a’, ’b’, ’c’, ’c’, ’c’, ’b’, ’a’, ’c’, ’a’, ’a’, ’b’, ’c’, ’b’, ’a’]
Создать словарь, в котором ключи – это содержимое списка В, а
значения для ключей словаря – это сумма всех элементов списка А в
соответствии с буквой, содержащийся на той же позиции в списке В.
Пример результата программы: {‘a’ : 10, ‘b’ : 15, ‘c’ : 6}

In [ ]:
A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']

In [ ]:
result_dict = {}
for i in range(len(B)):
    letter = B[i]
    if letter in result_dict:
        result_dict[letter] += A[i]
    else:
        result_dict[letter] = A[i]
print(result_dict)

{'a': 17, 'b': 11, 'c': 17}

# Задания 8-12

Скачать и загрузить данные о стоимости домов в калифорнии,
используя библиотеку sklearn.

8. Использовать метод info().
9. Узнать, есть ли пропущенные значения, используя isna().sum().
10. Вывести записи, где средний возраст домов в районе более 50 лет и
население более 2500 человек, используя метод loc().
11. Узнать максимальное и минимальное значения медианной
стоимости дома.
12. Используя метод apply(), вывести на экран название признака и его
среднее значение

In [ ]:
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)

In [ ]:
print(type(data))
data.keys()

<class 'sklearn.utils._bunch.Bunch'>

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

In [ ]:
data.data
df = data.data

In [ ]:
df.keys()

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude'],
      dtype='object')

In [ ]:
df.info

<bound method DataFrame.info of        MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude
0        -122.23
1        -122.22
2        -122.24
3        -122.25
4        -122.25
...          ...
20635    -121.09
20636    -121.21
20637    -121.22
20638    -121.32
20639    -121.24

[20640 rows x 8 columns]>

In [ ]:
df.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [ ]:
df.loc[(df['HouseAge'] > 50) & (df["Population"] > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41

In [ ]:
print(max(df['MedInc']), min(df['MedInc']))

15.0001 0.4999

In [ ]:
def calculate_mean(column):
    return column.mean()

means = df.apply(calculate_mean)

for column, mean in means.iteritems():
    print(f'Признак: {column}, Среднее значение: {mean}')

Признак: MedInc, Среднее значение: 3.8706710029069766
Признак: HouseAge, Среднее значение: 28.639486434108527
Признак: AveRooms, Среднее значение: 5.428999742190376
Признак: AveBedrms, Среднее значение: 1.096675149606208
Признак: Population, Среднее значение: 1425.4767441860465
Признак: AveOccup, Среднее значение: 3.0706551594363742
Признак: Latitude, Среднее значение: 35.63186143410853
Признак: Longitude, Среднее значение: -119.56970445736432

<ipython-input-54-7ec27b2dad2a>:6: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, mean in means.iteritems():

# Задание 1*

Дан текст на английском языке. Необходимо закодировать его с
помощью азбуки Морзе, где каждой букве соответствует
последовательность точек и тире. Например, буква «g» превратится в
строку «--.». В переменной morze для удобства хранится словарь
соответствия латинских букв коду Морзе.
morze = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
'y': '-.--', 'z': '--..'}
На входе: В одной строке вам дан текст, который состоит из латинских
букв и пробелов.
На выходе:
Выведите каждое слово исходного текста, закодированное азбукой
Морзе. Количество строк в ответе должно совпадать с количеством слов
в исходном тексте. Между закодированными буквами ставится ровно
один пробел. Например, слово «Help» превратится в «.... . .-.. .--.».
Строчные и заглавные буквы кодируются одинаково.
Например:
Ignition sequence start
Перевод
.. --. -. .. - .. --- -.
… . --.- ..- . -. -.-. .
… - .- .-. -

In [ ]:
morze = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
'y': '-.--', 'z': '--..'}

In [ ]:
def encode_to_morse(text):
    encoded_words = []
    words = text.lower().split()
    for word in words:
        encoded_word = ''
        for letter in word:
            if letter in morze:
                encoded_word += morze[letter] + ' '
        encoded_words.append(encoded_word.strip())
    return encoded_words

In [ ]:
input_text = input()

encoded_text = encode_to_morse(input_text)


for word in encoded_text:
    print(word)

Help me
…. . .-.. .--.
-- .

# Задание 2*

В некотором городе открывается новая служба по доставке электронных
писем. Необходимо наладить систему регистрации новых
пользователей.
Регистрация должна работать следующим образом: если новый
пользователь хочет зарегистрироваться на сайте, то он должен послать
системе запрос name со своим именем. Система должна определить,
существует ли уже такое имя в базе данных. Если такого имени не
существует, то оно заносится в базу данных системы и пользователю
возвращается ответ "ОК", подтверждающий успешную регистрацию. А
если пользователь с таким именем уже существует, то система должна
сформировать новое имя и выдать его пользователю в качестве
подсказки, при этом сама подсказка также добавляется в базу данных.
Новое имя формируется следующим образом: к name последовательно
приписываются числа, начиная с 1 (name1, name2 и так далее), и среди
них находят такое наименьшее i, что namei еще не содержится в системе.


Входные данные

В первой строке входных данных задано число n (1 ≤ n ≤ 100000).
Следующие n строк содержат запросы к системе. Каждый запрос
представляет собой непустую строку длиной не более 32 символов,
состоящую только из строчных букв латинского алфавита.


Выходные данные

В выходных данных должно содержаться n строк – ответы системы на
запросы: "OK" в случае успешной регистрации, или подсказка с новым
именем, если запрашиваемое уже занято.

In [ ]:
n = int(input())
usernames = set()

def register_name(name):
    if name not in usernames:
        usernames.add(name)
        return "OK"
    else:
        i = 1
        while f"{name}{i}" in usernames:
            i += 1
        new_name = f"{name}{i}"
        usernames.add(new_name)
        return new_name

for i in range(n):
    query = input()
    response = register_name(query)
    print(response)

3
b
OK
b
b1
b
b2

# Задание 3*

Необходимо создать программу обработки запросов пользователей к
файловой системе компьютера. Над каждым файлом можно производить
следующие действия: запись – w ("write"), чтение – r ("read"), запуск – x
("execute").


Входные данные

На вход программе подаются следующие параметры: число n –
количество файлов в файловой системе. В следующих n строках
содержится информация с именами файлов и допустимыми действиями
(w, x, r), разделенных пробелами. Далее идет число m – количество
запросов к файлам вида «операция файл» (обозначение операции:
"write", "read", "execute").


Выходные данные

Для каждого допустимого запроса программа должна возвращать OK,
для недопустимого – Access denied.

In [ ]:
files = {}

In [ ]:
for i in range(int(input())):
  list = str(input()).split()
  files[list.pop(0)] = list

for i in range(int(input())):
  list = str(input()).split()

  required_file = list[1]
  action = list[0]

  if action == "read":
    action = "r"
  elif action == "write":
    action = "w"
  elif action == "execute":
    action = "x"

  if (required_file in files.keys()) and (action in files[required_file]):
    print("OK")
  else:
    print("Access denied")

3
python.exe x
book.txt r w
notebook.exe r w x
5
read python.exe
Access denied
read book.txt
OK
write notebook.exe
OK
execute notebook.exe
OK
write book.txt
OK